<ion-header>
  <ion-toolbar>
    <ion-title>water</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Drunk Walter</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="header">
      <ion-label>Porcentagem de agua ingerida do dia</ion-label>
      <ion-progress-bar value=".66"></ion-progress-bar>
    </div>
    <hr>
    <div class="item-header">
      <ion-label>Hora tomar agua</ion-label>
    </div>
    <ion-icon slot="start" name="create" size="large" (click)="editaDrink(item);" color="dark"></ion-icon>
  </div>
</ion-content>
